<div class="wrapper">
  <div class="container text">
    <p class="intro">{{ 'hello-friend' | translate }}</p>
  </div>
  <div class="photos-wrapper">
    <div class="container">
      <img src="../../../assets/images/portfolio/thumbnails/th-po-004.jpg">
    </div>
    <div class="container text">
      <p class="intro">{{ 'my-name-is' | translate }}</p>
    </div>
    <div class="container text">
      <p class="intro">{{ 'i-love-photos' | translate }}</p>
    </div>
    <div class="container">
      <img src="../../../assets/images/portfolio/thumbnails/th-po-003.jpg">
    </div>
    <div class="container">
      <img src="../../../assets/images/portfolio/thumbnails/th-po-002.jpg">
    </div>
    <div class="container text">
      <p class="intro">{{ 'i-am-based' | translate }}</p>
    </div>
    <div class="container text">
      <p class="intro">{{ 'lets-contact' | translate }} 
        <a routerLink="/contact">
          <span>
            ->
          </span>
        </a>
      </p>
    </div>
    <div class="container fade-in-3">
      <img src="../../../assets//images//portfolio/thumbnails/th-po-001.jpg">
    </div>
  </div>
</div>