.spacer {
  flex: 1 1 auto;
}
.navbar {
  font-family: 'Amatic SC', cursive;
  padding: 1.5rem 1.5rem 0 1.5rem;
}
a, button {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}
a:hover, button:hover {
  text-shadow: 
  0 0 1px #fff, 
  0 0 2px #fff, 
  0 0 3px orange, 
  0 0 4px orange, 
  0 0 5px orange, 
  0 0 6px orange, 
  0 0 7px orange;
}
.navbar-header {
  font-size: 3rem;
}
.navbar-row {
  display: flex;
  justify-content: center;  
}
.navbar-buttons {
  display: flex;
  flex-wrap: wrap;
}
.navbar-buttons>* {
  margin: auto 3rem;
}
.glow {
  text-shadow: 
  0 0 1px #fff, 
  0 0 2px #fff, 
  0 0 3px orange, 
  0 0 4px orange, 
  0 0 5px orange, 
  0 0 6px orange, 
  0 0 7px orange;
}
.divider {
  width: 60%;
  border-bottom: 1px solid grey;
}