<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <div class="row">
      <span class="header-row">
        <span class="navbar-header glow">{{
          "navbar-main-header" | translate
        }}</span>
      </span>

      <span class="row-menu">
        <span>
          <select #selectedLang (change)="switchLang(selectedLang.value)">
            <option value="en">en</option>
            <option value="pl">pl</option>
            <option value="ru">ru</option>
            <option value="ua">ua</option>
          </select>
        </span>

        <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
          <button class="login-button" (click)="auth.logout()">
            <span class="material-icons"> login </span>
          </button>
        </div>
        <ng-template #showLogin>
          <button class="login-button" (click)="openLoginDialog()">
            <span class="material-icons"> account_circle </span>
          </button>
        </ng-template>
      </span>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="navbar-row">
    <div class="navbar-buttons">
      <a routerLink="/portfolio">{{ "navbar-portfolio" | translate }}</a>
      <a routerLink="/people">{{ "navbar-people" | translate }}</a>
      <a routerLink="/places">{{ "navbar-places" | translate }}</a>
      <a routerLink="/contact">{{ "navbar-contact-me" | translate }}</a>
      <button class="language-button" (click)="openLanguageDialog()">
        <span class="material-icons"> language </span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
