.navbar {
  font-family: 'Amatic SC', cursive;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.row {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row-menu {
  display: flex;
  align-items: center;
}
.login-button {
  background-color: transparent;
  border: transparent;
  outline: transparent;
  padding: 0;
  margin: 0;
}
.language-button {
  background-color: transparent;
  border: transparent;
  outline: transparent;
  padding: 0;
  margin: 0;
}
select {
  margin: auto 1rem;
  outline: transparent;
  color: white;
  background-color: #37474F;
  border:transparent;
}
a, button {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}
a:hover, button:hover {
  text-shadow: 
  0 0 1px #fff, 
  0 0 2px #fff, 
  0 0 3px orange, 
  0 0 4px orange, 
  0 0 5px orange, 
  0 0 6px orange, 
  0 0 7px orange;
}
.navbar-header {
  font-size: 3rem;
  display: flex;
  flex-wrap:wrap;
}

.navbar-row {
  display: flex;
  justify-content: center;  
}
.navbar-buttons {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 0 auto;
}
.glow {
  text-shadow: 
  0 0 1px #fff, 
  0 0 2px #fff, 
  0 0 3px orange, 
  0 0 4px orange, 
  0 0 5px orange, 
  0 0 6px orange, 
  0 0 7px orange;
}
@media only screen and (min-width: 600px) {
  .mobile-row-menu {
    visibility: hidden;
  }
  .language-button {
    display: none;
  }
}

@media only screen and (max-width: 599px) {
  .navbar-header {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
  }
  mat-toolbar-row {
    display: flex;
    justify-content: center;
  }
  .navbar-buttons {
    text-align: center;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
  }
  a {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    cursor: pointer;
    color: white;
  }
  .navbar-buttons>* {
    margin: auto;
  }
  .row-menu {
    visibility: hidden;
  }
  .mobile-row-menu {
    display: flex;
  }
}
