<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <span class="navbar-header glow">photos by vitalii asmakovskyi</span>
    <span class="spacer"></span>
    <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
      <span>welcome back, {{user.displayName | lowercase }}</span>
      <button mat-button (click)="auth.logout()">logout</button>
    </div>
    <ng-template #showLogin>
      <button mat-button (click)="auth.login()">login</button>
    </ng-template>
<!--
    <select>
      <option value="en">en</option>
      <option value="pl">pl</option>
      <option value="ru">ru</option>
      <option value="ua">ua</option>
    </select>
   -->   

   <span class="material-icons" style="margin-right: 1rem;">
    language
    </span>

    <mat-form-field appearance="outline" style="font-size: 0.8rem; width: 70px;">
      <mat-select>
        <mat-option value="en">en</mat-option>
        <mat-option value="pl">pl</mat-option>
        <mat-option value="ru">ru</mat-option>
        <mat-option value="ua">ua</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-toolbar-row>

  <mat-toolbar-row class="navbar-row">
    <div class="navbar-buttons">
      <a routerLink="/portfolio">my portfolio</a>
      <a routerLink="/people">people</a>
      <a routerLink="/places">places</a>
      <a routerLink="/contact">contact me</a>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
