@import '~@angular/material/theming';
@include mat-core();

$blog-app-primary: mat-palette($mat-blue-grey, 800);
$blog-app-accent: mat-palette($mat-deep-orange, 200);
$blog-app-warn: mat-palette($mat-red);
$blog-app-theme: mat-light-theme($blog-app-primary, $blog-app-accent, $blog-app-warn);

@include angular-material-theme($blog-app-theme);