<div class="wrapper">
<div class="photos-wrapper">
  <div class="container grow">
    <a href="../../../assets/images/places/full/pl-001.jpg">
      <img src="../../../assets/images/places/thumbnails/th-pl-001.jpg">
    </a>
  </div>
  <div class="container grow">
    <img src="../../../assets/images/places/thumbnails/th-pl-002.jpg">
  </div>
  <div class="container grow">
    <img src="../../../assets/images/places/thumbnails/th-pl-003.jpg">
  </div>
  <div class="container grow">
    <img src="../../../assets/images/places/thumbnails/th-pl-004.jpg">
  </div>
  <div class="container grow">
    <img src="../../../assets/images/places/thumbnails/th-pl-005.jpg">
  </div>
  <div class="container grow">
    <img src="../../../assets/images/places/thumbnails/th-pl-006.jpg">
  </div>
  <div class="container grow">
    <img src="../../../assets/images/places/thumbnails/th-pl-007.jpg">
  </div>
  <div class="container grow">
    <img src="../../../assets/images/places/thumbnails/th-pl-008.jpg">
  </div>
  <div class="container grow">
    <img src="../../../assets/images/places/thumbnails/th-pl-009.jpg">
  </div>
  <div class="container grow">
    <img src="../../../assets/images/places/thumbnails/th-pl-010.jpg">
  </div>
  <div class="container grow">
    <img src="../../../assets/images/places/thumbnails/th-pl-011.jpg">
  </div>
  <div class="container grow">
    <img src="../../../assets/images/places/thumbnails/th-pl-012.jpg">
  </div>
</div>
</div>