<div class="wrapper">
  <div class="photos-wrapper">
    <div class="container grow">
      <img src="../../../assets/images/people/thumbnails/th-pe-001.jpg">
    </div>
    <div class="container grow">
      <img src="../../../assets/images/people/thumbnails/th-pe-002.jpg">
    </div>
    <div class="container grow">
      <img src="../../../assets/images/people/thumbnails/th-pe-003.jpg">
    </div>
    <div class="container grow">
      <img src="../../../assets/images/people/thumbnails/th-pe-004.jpg">
    </div>
    <div class="container grow">
      <img src="../../../assets/images/people/thumbnails/th-pe-005.jpg">
    </div>
    <div class="container grow">
      <img src="../../../assets/images/people/thumbnails/th-pe-006.jpg">
    </div>
    <div class="container grow">
      <img src="../../../assets/images/people/thumbnails/th-pe-007.jpg">
    </div>
    <div class="container grow">
      <img src="../../../assets/images/people/thumbnails/th-pe-008.jpg">
    </div>
  </div>
</div>
