<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row class="footer-row">
    <span class="links">
      <span>
        <a href="https://www.facebook.com/vitalii.asmakovskyi" target="_blank">
          <span class="material-icons">
            facebook
          </span>
        </a>
      </span>
      <span>
        <a href="https://www.instagram.com/asmakovskiy97/" target="_blank">
          <span class="material-icons">
            instagram
          </span>
        </a>
      </span>
      <span>
        <a href="mailto:asmakovskiy69@gmail.com?subject=Mail_From_Portfolio_Form" target="_blank">
          <span class="material-icons">
            email
          </span>
        </a>
      </span>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row class="footer-row">
    <span style="font-size: 10px;">designed and developed by 
      <a href="https://www.linkedin.com/in/solomiia-iv/" target="_blank">solomiia_iv</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
